<h1>Pokemon#index</h1>
<p>Find me in app/views/pokemon/index.html.erb</p>

<% @pokemon.each do |pokemon| %>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= pokemon.name %></h5>

    <div> Type: <%= pokemon.pkmn_type %> </div>
    <div> Level: <%= pokemon.level %> </div>
    <div> Attack: <%= pokemon.attack %> </div>
    <div> defense: <%= pokemon.defense %> </div>
    <div> Speed: <%= pokemon.speed %> </div>
    
    <% if can? :update, pokemon %>
      <%= link_to "Edit Pokemon", edit_pokemon_path(pokemon), class: "btn btn-primary" %>
    <% end %>

    <% if can? :destroy, pokemon %>
    <%= link_to "Delete Pokemon", pokemon_path(pokemon), method: "delete", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
   <br><br>
<% end %>
  
