<nav class="navbar navbar-dark bg-primary" style="box-shadow: 0px 7px 20px #888888; border-radius: 5px; margin-top: 15px; margin-bottom: 50px; width: 95%; margin-left: auto; margin-right: auto">
  <span>
    <%= link_to "home", root_path, class: "btn btn-light float-left", style:"margin-right: 3px;"%>
    <%= link_to "Pokemon", pokemons_path, class: "btn btn-light float-left" %>
</span>
    <% if user_signed_in? %>
    
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"btn btn-light float-right", style:"margin-right: 10px;"  %>
  <% else %>
  <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          SignUp/In
        </a>
<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

      <%= link_to 'SignUp', new_user_registration_path, class:"btn btn-light dropdown-item", style:"margin-left: 5px; margin-right: 2px;" %>

      <%= link_to 'SignIn', new_user_session_path, class:"btn btn-light dropdown-item", style:"margin-left: 5px; margin-right: 2px;"%>

      <%= link_to "Google SignIn", user_google_oauth2_omniauth_authorize_path, class:"btn btn-light dropdown-item", style:"margin-left: 5px; margin-right: 2px;" %>

</div>
  </div>
  <% end %>
</nav>

