<nav class="navbar navbar-dark bg-primary" style="box-shadow: 0px 7px 20px #888888; border-radius: 5px; margin-top: 15px; margin-bottom: 50px; width: 95%; margin-left: auto; margin-right: auto">

    <%= link_to "pkmnFun", root_path, class: "btn btn-light", style: "float: left;" %>
    <%= link_to "Pokemon", pokemons_path, class: "btn btn-light", style: "float: left;" %>

    <% if user_signed_in? %>
    
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"btn btn-light", style:"margin-right: 10px; float: right;"  %>
  <% else %>
  <div>
      <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-light", style:"margin-left: 5px; margin-right: 2px; float: right;" %>

      <%= link_to 'Sign In', new_user_session_path, class:"btn btn-light", style:"margin-left: 5px; margin-right: 2px; float: right;"%>

      <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path, class:"btn btn-light", style:"margin-left: 5px; margin-right: 2px; float: right;" %>
  </div>
  <% end %>
</nav>

